<div class="text-center">
    <h1 class="display-4">Welcome!!!</h1>
    <h3>Nguyen Le Hung Phu - CE150297</h3>

    <div class="mt-5">
        <img src="/images/hamster-triggered.gif" alt="Triggerreddd" style="width:300px;height:300px;">
    </div>

</div>